.checkbox-container {
  width: 80px;
  height: 40px;
}

.white-slaider-checkbox {
  position: relative;
  cursor: pointer;
}

.white-slaider-checkbox input {
  appearance: none;
  display: none;
}

.white-slaider-checkbox span {
  position: relative;
  display: block;
  width: 80px;
  height: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 -4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}

.white-slaider-checkbox .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.5s;
  transform: scale(0.9);
}

.white-slaider-checkbox input:checked ~ .indicator {
  left: 40px;
}

.white-slaider-checkbox .indicator::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(241, 114, 114);
  transition: 0.5s;
}

.white-slaider-checkbox input:checked ~ .indicator::before {
  background-color: #038C73;
  transition: 0.5s;
}