.checkbox-container {
  width: 80px;
  height: 40px;
}

.white-slaider-checkbox {
  position: relative;
  cursor: pointer;
}

.white-slaider-checkbox input {
  appearance: none;
  display: none;
}

.white-slaider-checkbox span {
  position: relative;
  display: block;
  width: 80px;
  height: 40px;
  background: rgb(226, 226, 226);
  border-radius: 40px;
  box-shadow: inset 0 2px 5px #ccc,
              inset 0 -1px 1px #ccc;
}

.white-slaider-checkbox .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, rgb(250, 250, 250), rgb(200, 200, 200));
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0,0,0,0.5),
              inset 0 1px 1px rgba(255,255,255,0.1);
  transition: 0.5s;
  transform: scale(0.9);
}

.white-slaider-checkbox input:checked ~ .indicator {
  left: 40px;
}

.white-slaider-checkbox .indicator::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(241, 114, 114);
  box-shadow: 0 0px 5px rgb(241, 114, 114),
              0 0px 15px rgb(241, 114, 114);
  transition: 0.5s;
}

.white-slaider-checkbox input:checked ~ .indicator::before {
  background-color: rgb(46, 150, 46);
  box-shadow: 0 0px 5px rgb(46, 150, 46),
              0 0px 15px rgb(46, 150, 46);
  transition: 0.5s;
}